body{
    min-height: 100vh;
}

#file-drop-box{
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: salmon;
    display: none;
}

#wrapper{
    display: flex;
    flex-direction: column;
}

#svg-list{
    font-family: monospace;
}

.svg-list-item{
    display: flex;
    flex-direction: row;
}

.svg-list-item-preview{
    width: 100px;
    height: 100px;
}

.svg-list-item-name{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.svg-list-item-name input{
    font-family: monospace;
    width: 250px;
}

.svg-list-item-button{
    margin-left: auto;
}
